<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="noopProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="NES Object Oriented Programming IDE"
            name="Noop IDE">
         <property
               name="appName"
               value="Noop IDE">
         </property>
         <property
               name="startupForegroundColor"
               value="BB2024">
         </property>
         <property
               name="startupMessageRect"
               value="7,274,445,16">
         </property>
         <property
               name="startupProgressRect"
               value="5,292,445,8">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
